In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv('purchase.csv')
df2 = pd.read_csv('purchase1.csv')
df = pd.concat([df1,df2])

In [5]:
df

,nationalCode,isPortfo,customerFullName,bourseAccountName,totalAssetValue,creditAssetValue,marginAccountValue,startingCredit,loanWithProfit,wltRemain,...,withoutActionDays,withoutActionBusinessDays,wltRemainToMarginAccount,lastRemainToMarginAccount,lastTransactionDate,branchName,warningCount,lastWarningDate,dbsAccountNumber,dlNumber
0,164-008217-4,1,حشمتي شربياني رضا,prx03328,54624134,0,0,0.0,0,265634,...,32.0,23,NaN,NaN,1402/04/31,هویزه,0,NaN,7.646184e+09,1016964
1,006-771639-3,1,شكري صومعه كبودين رقيه,prx04345,0,0,0,0.0,0,0,...,683.0,450,NaN,NaN,1400/07/17,هویزه,0,NaN,7.646188e+09,1016855
2,032-334800-9,1,رنج كش قاضي اميد,prx06043,59726104,59726104,35835662,0.0,0,0,...,11.0,9,0.0,0.0,1402/05/21,هویزه,0,NaN,7.646192e+09,1041717
3,001-033142-5,1,آراسته شراره,prx07836,0,0,0,0.0,0,0,...,11.0,9,NaN,NaN,1402/05/21,هویزه,0,NaN,7.646196e+09,1041639
4,003-385369-1,1,كتابي مسعود,prx13450,0,0,0,0.0,0,0,...,140.0,93,NaN,NaN,1402/01/16,آرارات,0,NaN,7.646209e+09,1053970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001523,031-227082-8,0,مبصر عليرضا,ع ش ك 60581,1000000,0,0,0.0,0,1000000,...,38.0,25,NaN,NaN,1402/09/22,کرج (بلوارامام رضا),0,NaN,7.649031e+13,1065661
1001524,556-103700-5,0,حاجي زاده اميرحسين,ع ض ف 13813,100000,0,0,0.0,0,100000,...,97.0,68,NaN,NaN,1402/07/23,اسلام شهر,0,NaN,7.649556e+13,1072075
1001525,428-585917-3,0,كريمي ناصر,كريـ68144,1088000000,0,0,0.0,0,1088000000,...,4.0,2,NaN,NaN,1402/10/26,اسلام شهر,0,NaN,7.649429e+13,1074961
1001526,032-151934-5,0,فرخي خانقاه شاهرخ,فرخـ01935,1000000,0,0,0.0,0,1000000,...,7.0,5,NaN,NaN,1402/10/23,جمهوری,0,NaN,7.649032e+13,1072558
1001527,448-992822-1,0,افخمي ميبدي حميد,افخـ01527,20000000,0,0,0.0,0,20000000,...,0.0,0,NaN,NaN,1402/10/30,جمهوری,0,NaN,7.649449e+13,1074338

In [6]:
df.to_csv('Final Dataset.csv', sep=',', index=False, encoding='utf-8')